<%= form_with model: hall do |form| %>
  <div>
    <div><%= form.label :name %></div>
    <div><%= form.text_field :name %></div>
  </div>
  <div>
    <div><%= form.label :capacity %></div>
    <div><%= form.number_field :capacity, min: 1 %></div>
  </div>
  <div>
    <% hall.errors.any? do |error| %>
      <%= error.full_message %>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
