<h1>Hall "<%= @hall.name %>"</h1>
<p>Number of seats: <%= @hall.capacity %></p>

<% if policy(@hall).edit? %>
  <div><%= link_to "Edit", edit_hall_path(@hall) %></div>
<% end %>

<% if policy(@hall).destroy? %>
  <div><%= link_to "Delete", hall_path(@hall), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></div>
<% end %>

<div><%= link_to "Back", halls_path %></div>
