<%= form_with model: movie do |form| %>
  <div>
    <div><%= form.label :title %></div>
    <div><%= form.text_field :title %></div>
  </div>
  <div>
    <div><%= form.label :length_in_minutes %></div>
    <div><%= form.number_field :length_in_minutes, in: 1..300 %></div>
  </div>
  <div>
    <% movie.errors.any? do |error| %>
      <%= error.full_message %>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
