<%= form_with url: show_reservations_path do |form| %>
  <div>
    <div><%= form.label :seat_numbers %></div>
    <div>
      <%= form.collection_check_boxes :seat_numbers, @seats, :number, :number, include_hidden: false do |b| %>
        <%= b.check_box disabled: !b.object.available %>
        <%= b.label %>
      <% end %>
    </div>
  </div>
  <div>
    <% reservation.errors.any? do |error| %>
      <%= error.full_message %>
    <% end %>
  </div>
  <div>
    <%= form.submit "Book reservation" %>
  </div>
<% end %>

<div><%= link_to "Back", show_path(id: @reservation.show.id) %></div
