<h1>Reservation #<%= @reservation.id %> for "<%= @reservation.show.movie.title %>"</h1>
<p>
  Movie begins at <%= formatted_time(@reservation.show.start_time) %>
  on <%= formatted_date(@reservation.show.start_time) %>
  in hall "<%= @reservation.show.hall.name %>".
</p>

<h2>Your tickets:</h2>
<ol>
  <% @reservation.tickets.each do |ticket| %>
    <li>Seat: "<%= ticket.seat_number %>"</li>
  <% end %>
</ol>

<h3>Status: <%= @reservation.status %></h3>

<% if @reservation.booked? %>
  <% if manager? %>
    <div>
      <%=
        link_to "Confirm reservation",
        confirm_show_reservation_path(show_id: @reservation.show.id, id: @reservation.id),
        data: { turbo_method: :put, turbo_confirm: "Are you sure?" }
      %>
    </div>
  <% end %>
  <div>
    <%=
      link_to "Cancel reservation", 
      cancel_show_reservation_path(show_id: @reservation.show.id, id: @reservation.id),
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>

<div><%= link_to "Back", show_path(id: @reservation.show.id) %></div>
