<h1>Today Shows</h1>

<div>
  <% @movies.each do |movie| %>
  <h1><%= movie.title %></h1>
  <ul>
    <% Show.today_shows(movie).each do |show| %>
      <li><%= link_to formatted_time(show.start_time), show %></li>
    <% end %>
  </ul>
<% end %>
</div>

<% if policy(Show).new? %>
  <div><%= link_to "Add new show", new_show_path %></div>
<% end %>

<div><%= link_to "See all movies", movies_path %></div>
<div><%= link_to "See all halls", halls_path %></div>
