<h1>Today Shows</h1>

<% if current_user&.customer? %>
  <% if @reservations.count == 0 %>
    <h2>No Reservations</h2>
    <p>We hope you change your mind and see something that's incredible very soon!</p>
  <% else %>
    <h2>My Reservations</h2>
    <div>
      <ol>
        <% @reservations.each do |reservation| %>
          <li>
            <%= 
              link_to "#{reservation.show.movie.title} -> #{formatted_datetime reservation.show.start_time}",
              show_reservation_path(show_id: reservation.show.id, id: reservation.id) 
            %>
          </li>
        <% end %>
      </ol>
    </div>
  <% end %>
<% end %>

<div>
  <% @movies.each do |movie| %>
  <h1><%= movie.title %></h1>
  <ul>
    <% Show.today_shows(movie).each do |show| %>
      <li><%= link_to formatted_time(show.start_time), show %></li>
    <% end %>
  </ul>
<% end %>
</div>

<% if policy(Show).new? %>
  <div><%= link_to "Add new show", new_show_path %></div>
<% end %>

<div><%= link_to "See all movies", movies_path %></div>
<div><%= link_to "See all halls", halls_path %></div>
