<h1><%= @show.movie.title %></h1>

<div>
  Movie will be played inside of hall "<%= @show.hall.name %>",
  starting at <%= formatted_time @show.start_time %> and ending
  around <%= formatted_time @show.end_time %>.
</div>

<div><%= link_to "Make reservation", new_show_reservation_path(@show) %></div>

<% if manager? %>
  <div><%= link_to "Delete", show_path(@show), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></div>
<% end %>

<div><%= link_to "Back", shows_path %></div>
