<!DOCTYPE html>
<html>
  <head>
    <title>MonteCinema</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div>
      <% if current_user %>
        <%= "#{current_user.email} (#{current_user.role})" %>
        <div><%= button_to "Sign out", destroy_user_session_path, method: :delete %></div>
      <% else %>
        <div><%= button_to "Sign in", new_user_session_path, method: :get %></div>
        <div><%= button_to "Sign up", new_user_registration_path, method: :get %></div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
